*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(
    90deg,
    rgb(187, 223, 222) 0%,
    rgb(193, 199, 255) 100%
  );
}

.App {
  text-align: center;
}

.ItemList{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

label{
  display: inline-block;
  width: 120px;
  text-align: left;
  margin-bottom: 10px;
}

input{
  width: 150px;
}

.addItem{
  width:70px;
}


span {
  margin: 0 7px 0 7px;
}

.quantity-buttons{
  width: 20px;
}

.totalAmount{
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.header{
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 60px;
  opacity: 50%;
  display: flex;
}

.projName{
  font-size: 40px;
  color: rgb(103, 255, 125);
  padding: 0 0 10px 10px;
}

.addItem{
  width: auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color:rgb(144, 247, 218);
  color: black;
}
